@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}

/* * section */
#rock-paper-scissor {
    background-color: #9c835f;
    height: 100vh;
}
nav {
    padding: 1rem;
}
h1.back {
    color: #724c21;
    font-size: 72px;
}
h1.tittle {
    color: #f9b23d;
}
.container {
    padding: 2rem;
}

/* * image list */
button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    width: 230px;
    height: 210px;
}
button:hover {
    background-color: rgba(196, 196, 196, 1);
    border-radius: 20px;
}
button img {
    width: 130px;
}
img#refresh {
    cursor: pointer;
    margin-top: 1rem;
}
div.back {
    cursor: pointer;
}

div.back a {
    text-decoration: none;
}

/* * text-area result*/
div.text-area {
    text-transform: uppercase;
    border-radius: 20px;
    width: 280px;
    height: 170px;
    margin: 3rem 0;
}
.vs {
    color: #bd0000;
    font-size: 140px;
    font-weight: bold;
    letter-spacing: 14px;
}

/* ! js styling */
/* * image list */
.active {
    background-color: #c4c4c4;
    border-radius: 20px;
}
/* * text-area */
.game-result {
    color: white;
    font-size: 38px;
    letter-spacing: 4px;
}
.game-result-win {
    background-color: #4c9654;
}
.game-result-draw {
    background: #035b0c;
}
.rotate {
    transform: rotate(-28deg);
}

/* * media query */
@media (max-width: 1400px) {
    #rock-paper-scissor {
        height: 100%;
    }
    .img-container {
        width: 180px;
        height: 160px;
    }
    .img-container img {
        width: 80px;
    }
}
@media (max-width: 1280px) {
    #rock-paper-scissor {
        height: 100%;
    }
}
@media (max-width: 920px) {
    #rock-paper-scissor {
        height: 100vh;
    }
    .container {
        -ms-transform: translate(0%, 10%);
        transform: translate(0%, 10%);
    }
}
@media (max-width: 768px) {
    #rock-paper-scissor {
        height: 100vh;
    }
    .container {
        -ms-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
}
@media (max-width: 576px) {
    #rock-paper-scissor {
        height: 100%;
    }
}
